form {
     width: 50%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

form .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_cantainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 10px;
    align-items: center;
}

.input_cantainer input {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    padding-left: 20px;
    background-color: rgb(229, 229, 229);
}
.btn_cantaner{
    display: flex;
    gap: 20px;
    justify-content: center;
}