.Edit_profile{
     position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 99998;
}

.editMenue {
    position: fixed;
    z-index: 99999;

    width: 80%;
    max-width: 700px;
    height: 90vh;

    background: #fff;

    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);

    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: auto;
}